

  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
body{
  background: #0c0c0c;
  font-family: sans-serif;
}

.listing-section{
  
  width: 90%;
  margin: 50px auto;

}
.heading{
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.card{
  width: 20%;
  background: rgb(140, 138, 138);
  border:1px solid rgb(205, 206, 208);
  margin-bottom: 50px;
  transition: 0.3s;
}
.body{
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;

}
.btn{
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right ,#ff416c,#ff4b2b) ;
 
  margin-top: 7px;
  text-decoration: none;
  padding: 4px 4px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
@media screen and (max-width:1000px){
  .card{
    width: 20%;
  }
  .v{
    width: 180;
  }
}
@media screen and (max-width:500px){
  .listing-section{
    width: 100%;
  }
  .heading{
    padding: 15px;
    font-size: 20px;
  }
  .card{
    width: 40%;
  }
}
@media screen and (max-width:390px){
  .listing-section{
    width: 100%;
  }
  .heading{
    padding: 8px;
    font-size: 8px;
  }
  .card{
    width: 20%;
  }
  .v{
    width: 100;
  }
}